<app-loading *ngIf="loading"></app-loading>


<div *ngIf="!loading" class="row animated fadeIn">
  <div class="col-2">
    <!--<img [src]="artist.images | noimage" class="img-thumbnail img-circle"> -->
  </div>

  <div class="col">
    <h3> {{client.nombreAsociado}} </h3>
    <hr>
    <p>
        Tipo de Documento: {{ client.tipoDocuAsociado}}
    </p>
    <p>
        Número de Documento: {{ client.nroDocuAsociado }}
    </p>
    <p>
        Codigo de Cliente: {{ client.codigoCliente }}
    </p>
    <p>
        ID Asociado: {{ client.asociadoID }}
    </p>
  </div>

  <!-- <div class="col">
    <h3> {{ artist.name }}</h3>
    <p>
    </p>
  </div> -->


  <div class="col-4 text-right">
      <!-- routerlink Sin llaves se usa para enviar un string directo -->
      <button routerLink="/home" class="btn btn-outline-primary">
        Regresar
      </button>
    </div>

</div>
