<h4>Registro de Ventas</h4>
<hr>
<form (ngSubmit)="save(forma)" #forma="ngForm" novalidate="">

  <div>
    <input class="form-control"
           type="text"
           name="idContrato"
           value="0"
           ngModel
           hidden>

    <div class="form-group row">
      <label class="col-2 col-form-label">Cliente</label>
      <div class="col-8">
        <select class="form-control" name="asociadoID" ngModel>
          <option value=""> Seleccione </option>

          <option *ngFor="let item of asociados"
                [value]="item.asociadoID"> {{item.nombreAsociado}} </option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Vendedor</label>
      <div class="col-8">
        <select class="form-control" name="trabajadorID" ngModel>
          <option value=""> Seleccione </option>

          <option *ngFor="let item of vendedores"
                [value]="item.trabajadorID"> {{item.nombreTrabajador}} </option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Certificado</label>
      <div class="col-8">
        <select class="form-control" name="idCertificado" ngModel>
          <option value=""> Seleccione </option>

          <option *ngFor="let item of certificados"
                [value]="item.idCertificado"> $ {{item.monto}} </option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Producto</label>
      <div class="col-8">
        <select class="form-control" name="idProducto" ngModel>
          <option value=""> Seleccione </option>

          <option *ngFor="let item of productos"
                [value]="item.idProducto"> {{item.descripcion}} </option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Vehiculo</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Vehiculo"
               name="vehiculo"
               ngModel>
      </div>
    </div>



  </div>





  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>


<hr>
<div  class="row animated fadeIn fast" *ngIf="Ok">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      Venta Registrada Correctamenta
    </div>

  </div>
</div>
