
<hr>
<div  class="row animated fadeIn fast" *ngIf="clients.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término: {{ term }}
    </div>

  </div>
</div>


<app-cards [items]="clients" ></app-cards>
