<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/pandero-ico.jpg" width="30" height="30" alt="">
    Pandero
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['ventas']">Ventas</a>
      </li>

      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" [routerLink]="['home']">Clientes</a>
      </li>
      <!--
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['search']">Search</a>
      </li>
    -->
    </ul>
    <form class="form-inline my-2 my-lg-0" onsubmit='return false'>
      <input class="form-control mr-sm-2" type="text" placeholder="Search" (keyup)="searchClient(searchText.value)" #searchText>
      <button (click)="searchClient(searchText.value)" class="btn btn-outline-primary my-2 my-sm-0" type="button">Search</button>
    </form>
  </div>
</nav>
