<div class="card-columns m-5 animated fadeIn">
<!-- (click)="seeArtist(item)"  -->
  <div (click)="seeClient(item)" *ngFor="let item of items" class="card puntero">
    <h6 class="card-header">{{ item.nombreAsociado }}</h6>
    <div class="card-body">
    <!--  <h5 class="card-title"> </h5> -->
      <p class="card-text">
        <span  class="badge badge-pill badge-primary">
          {{ item.tipoDocuAsociado + ' : ' + item.nroDocuAsociado }}
        </span>
        <span  class="badge badge-pill badge-primary">
          {{ 'Cliente : ' + item.codigoCliente }}
        </span>
      </p>

    </div>
  </div>
</div>
